body { 
  background: url(../img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.well {
	/*background-color: rgba(221,221,221,0.8);*/
   background-color: rgba(245, 245, 245, 0.9);
}